.pagination-bar {
  position: fixed;
  top: 56px;
  left: 300px;
  right: 0px;
  z-index: 96;
  display: flex;
  justify-content: center;
  user-select: none;
}
.pagination-bar .pagination .page-item,
.pagination-bar .pagination-sm .page-item {
  user-select: none;
}
