@import '../../../node_modules/bootstrap/dist/css/bootstrap.css';
#app .product-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  position: absolute;
  top: 103px;
  left: 300px;
  right: 0px;
}
#app .product-container .card {
  margin-right: 15px;
}
.cat-bar {
  position: fixed;
  top: 56px;
  left: 0;
  width: 300px;
  padding-top: 20px;
  padding-left: 10px;
  z-index: 98;
}
.cat-bar .title {
  font-size: 20px;
}
.cat-bar .form-check {
  user-select: none;
}
.cat-bar .form-check .form-check-label {
  cursor: pointer;
}
.cat-bar .form-check .form-check-input {
  cursor: pointer;
}
.filter-box {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}
.pagination-bar {
  position: fixed;
  top: 56px;
  left: 300px;
  right: 0px;
  z-index: 96;
  display: flex;
  justify-content: center;
  user-select: none;
}
.pagination-bar .pagination .page-item,
.pagination-bar .pagination-sm .page-item {
  user-select: none;
}
