
#app{
  
  .newPassModal{
    position: relative;

    .modal-ovrlay{
      position: fixed ;
      z-index: 3000;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
  .case-up{
    text-transform: uppercase;
  }
  .product-container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    top: 110px;
    left: 300px;
    right: 0px;
    padding-bottom: 110px;
  
    .card{
      margin-right: 15px;
    }  
  }
}