.user-nav{
    position: relative;
    margin-right: 10px;
    display: flex;

    .login-input{
        border: none;
        padding: 0px;
        width: 200px;
    }
    .dropdown-menu[data-bs-popper] {
        right: 0;
        left: auto;
    }

    .cart{
        position: relative;

        .qantiti-index{
            position: absolute;
            right: 8px;
            top: -3px;
            background-color: brown;
            color: aliceblue;
            padding-left: 5px;
            padding-right: 5px;
            border-radius: 100%;
            font-size: 12px;
        }
        .cart-btn{
            border: none;
            margin-top: 0px;
    
            .cart-icon{
                width: 20px;
                height: 20px;
            }
        }
    }
    .login{
        position: relative;
        display: flex;

        .user-btn {
            padding: 2px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 5px;

            .user-ava{
                width: 25px;
                height: 25px;
                margin-right: 5px;
                border: 1px solid #fbe328;
                border-radius: 50%;
            }
        }
    }
    
}

