.user-nav{
    margin-right: 10px;

    .qantiti-index{
        position: absolute;
        right: 5px;
        top: 3px;
        background-color: brown;
        color: aliceblue;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 100%;
        font-size: 12px;
    }
}